[build]
builder = "nixpacks"

[build.environment]
PHP_VERSION = "8.2"
COMPOSER_VERSION = "2"
NODE_VERSION = "18"

[deploy]
startCommand = "php artisan serve --host=0.0.0.0 --port=8080"
preDeployCommand = "php artisan migrate --force --seed"
healthcheckPath = "/"
healthcheckTimeout = 60
numReplicas = 1

[[services]]
type = "web"
